*{
  margin:0px;
}
.font{
  font-family: 'Raleway', sans-serif;
  font-weight:200;  
}
.color{
  color:#27A365;
}
.input{
  color:#5C5C5C;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}
.search-container {
width:360px;
height: 42px;
border-radius:21px;
background-color:#F2F2F2;
}
.search-icon{
margin-top:4px;
margin-inline:15px;
}
/* font-family: 'Inter', sans-serif; */
.dropdown{
  margin-top:-5px;
  /* background-color: red; */
  height:25px;
  padding-block:auto;
}
.create-account-text {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight:bold;
  color: #2E2E2E;
}
.create-account-text-span {
  color: #2F6CE5;
}
@media (max-width:360px) {
.large {
    display: none!important;
} 
}
.search-container input{
  outline: none!important;
}